fastapi
uvicorn
sqlalchemy
psycopg2-binary
jinja2
reportlab
python-multipart
passlib[bcrypt]
bcrypt==4.3.0
google-genai
python-dotenv
gtts  # Text-to-Speech
pydub  # Procesamiento de audio
SpeechRecognition  # Reconocimiento de voz (alternativa)
